* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  color: white;
  user-select: none;
  font-family: 'Helvetica';
}

#dom-portal {
  position: fixed;
  width:100%;
  height:100%;
  z-index: 10000;
  pointer-events: none;
}
.html-wrapper {
  pointer-events: none;
  margin-left: 500px;
  position: fixed;
  top: 100px;
}

.cartel_wrapper {
  max-width: 33vw;
  opacity: 0;
  transition: all 0.2s;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate3d(0, -50%, 0);
}

.cartel_active {
  transition: all 0.5s 1s;
  opacity: 1;
}

.cartel_title {
  font-family: 'Garamond';
  letter-spacing: -4px;
  font-size: 3rem;
  text-transform: uppercase;
}

.cartel_button {
  pointer-events: all;
  cursor: pointer;
}